<header class='entete'>

	<nav> 

		<ul>
			<li>
				<a href='http://127.0.0.1:8081/'></i>Accueil</a>
				<a href='http://127.0.0.1:8081/adresses'></i>Adresse</a>
			</li>
			<li>
				
			</li>
		</ul>

	</nav> 
</header>